.image-root {
  background-size: cover;
  background-position: center center;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  border: 1px solid white;
  
  &.flip {
    transform: scaleX(-1)
  }
  
  &.flip  > div {
      transform: scaleX(-1)
    }

     &.open {
        position: absolute;
        left: 0%;
        right: 0%;
        z-index: +1;
        margin: auto;
        width: 81.5% !important;
        height:  95% !important;
        outline: 4000px solid;
        outline-color: rgba(0, 0, 0, 0.8);
      }
      

  > div {
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    padding: 15px;
    text-align: center;
    text-align: center;
    box-sizing: border-box;
    white-space: pre;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &:hover > div {
    visibility: visible;
  }

  .image-icon {
    font-size: 20px;
    vertical-align: middle;
    border: 1px solid #ccc;
    color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
    margin: 3px;

    &:hover {
      color: white;
      border-color: white;
    }
  }
}

